---
import type { SanityClient } from "@sanity/client";

import type { SanityGameCard } from "@utils/sanity.ts";
import sanityImgUrl from "@utils/image";

type Props = SanityGameCard & { client: SanityClient };
const { title, slug, header, client } = Astro.props;

const bg = sanityImgUrl(client, header).auto(`format`).fit(`max`).width(668).quality(100).url();
---

<a
  href={`/games/${slug.current}`}
  class="group game__card-container"
  style={`background-image: url(${bg});`}
>
  <div class="detail game__card-inner">
    <h3 class="game__card-title">{title}</h3>
  </div>
</a>

<script define:vars={{ slug: slug.current }}>
  const container = document.getElementById(`container`);
  container.addEventListener(`click`, () => {
    window.location.assign(`/games/${slug.current}`);
  });
</script>

<style>
  .detail {
    height: calc(12.5rem + 150%);
    @media (min-width: 640px) {
      height: calc(15.625rem + 150%);
    }
    @media (min-width: 1280px) {
      height: calc(19.6875rem + 150%);
    }
    @media (min-width: 1024px) {
      height: calc(21.875rem + 150%);
    }

    transition-property: all;
    transition-duration: 500ms;
  }

  .detail:hover {
    background: rgba(19, 93, 80, 0.5);
    height: 12.5rem;
    @media (min-width: 640px) {
      height: 15.625rem;
    }
    @media (min-width: 1280px) {
      height: 19.6875rem;
    }
    @media (min-width: 1024px) {
      height: 21.875rem;
    }
  }
</style>
