---
interface Props {
  title: string;
  content: string;
}

const { title, content } = Astro.props;
---

<div class="w-full flex flex-col lg:space-y-1 font-display">
  <h3
    class="w-full font-bold text-green-600 text-2xl md:text-3xl lg:text-[40px] lg:bg-green-300 lg:py-1 xl:text-5xl"
  >
    {title}
  </h3>
  <p class="text-green-800 text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl">{content}</p>
</div>
