---
import type { SanityTag } from "@utils/sanity";
import Tag from "@components/ui/tag/detail.astro";

interface Props {
  title: string;
  tags: SanityTag[];
}

const { title, tags } = Astro.props;

const titleStyle = `font-display font-bold uppercase text-green-600 text-[2.5rem] leading-[100%] sm:text-5xl lg:text-7xl xl:text-8xl`;
---

<div class="flex space-y-1.5 sm:space-y-2">
  <h1 class={titleStyle}>{title}</h1>
  <div class="flex items-center space-x-1 sm:space-x-3 xl:space-x-4">
    {tags.map((tag: SanityTag) => <Tag label={tag.title} href={`/tags/${tag.slug.current}`} />)}
  </div>
</div>
