---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  position: string;
  website?: string;
}

const { name, position, website } = Astro.props;
---

<div class="game__team-wrapper">
  <h3 class="game__team-title">
    {position}
  </h3>
  {
    website ? (
      <a
        href={website}
        target="_blank"
        rel="noreferrer"
        class={`settings game__team-name flex items-center space-x-1 lg:space-x-1.5 hover:text-green-600`}
      >
        <span>{name}</span>
        <span class="flex w-4 md:w-5 lg:w-6 2xl:w-7">
          <Icon name="external-link" />
        </span>
      </a>
    ) : (
      <p class="game__team-name">{name}</p>
    )
  }
</div>
