---
import type { InferGetStaticParamsType } from "astro";
import { sanityClient } from "sanity:client";

import { blogDetail, allBlogSlugs, type SanityBlog } from "@utils/sanity";

import Blog from "@layouts/blog.astro";

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(allBlogSlugs);
  return posts.map((post: { slug: { current: string } }) => ({
    params: { slug: post.slug.current },
  }));
}

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { slug } = Astro.params as Params;

const blog: SanityBlog = (await sanityClient.fetch(blogDetail, { slug })) || {};

blog && console.log(typeof blog.markdown);
---

<Blog {...blog} client={sanityClient}>
  <section></section>
</Blog>
