---
import arrow from "@icons/arrow.svg?raw";

interface Props {
  label: string;
  href: string;
  icon?: {
    position: `left` | `right`;
    direction: `left` | `right`;
  };
}

const { label, href, icon } = Astro.props;
const iconMargin = icon?.position === `left` ? `mr-1` : `ml-1`;
---

<a
  href={href}
  class={`settings nowrap button button__primary ${icon?.position === `right` && `flex-row-reverse`}`}
>
  {
    icon && (
      <div
        class={`button__primary-icon ${iconMargin} ${icon.direction === `left` && `rotate-180`}`}
      >
        <Fragment set:html={arrow} />
      </div>
    )
  }
  {label}
</a>
