---
import { Icon } from "astro-icon/components";

interface Props {
  label: string;
  href: string;
  icon?: (typeof Icon)["name"];
}

const { label, href, icon } = Astro.props;

const style = `settings nowrap button button__secondary ${icon ? `button__secondary-icon` : `button__secondary-no-icon`}`;
---

<a href={href} class={style}>
  {icon && <Icon name={icon} class="mr-1 md:mr-1.5" />}
  {label}
</a>
