---
import { Icon } from "astro-icon/components";
interface Props {
  name: (typeof Icon)["name"];
  href: string;
  label: string;
}

const { name, href, label } = Astro.props;
---

<a href={href} aria-label={label} target="_blank" rel="noreferrer" class="settings button__social">
  <div class="button__social-icon">
    <Icon name={name} size={30} />
  </div>
</a>
