---
import { sanityClient } from "sanity:client";

import { gamesPage, type SanityGameCard, type SanityGamePage } from "@utils/sanity";

import Page from "@layouts/page.astro";
import FeaturedGame from "@components/game/featured.astro";
import GameCard from "@components/game/card.astro";

import divider from "@assets/svg/divider.svg?raw";

const page: SanityGamePage = (await sanityClient.fetch(gamesPage)) || {};
const { featured, all } = page;
---

<Page title="Games & Projects" desc="Video games created by Goblin Delight, an indie studio in Pittsburgh, PA." header="Games & Projects">
  <article>
    <section class="wrapper">
      <FeaturedGame {...featured.featured.game} client={sanityClient} />
    </section>

    <div class="flex py-8 sm:py-12 lg:py-14 xl:py-24">
      <Fragment set:html={divider} />
    </div>

    <section class="wrapper">
      <div class="inner section__wrapper">
        <h2 class="section__title">All Games & Projects</h2>
        <div class="section__grid">
          {all.map((game: SanityGameCard) => <GameCard {...game} client={sanityClient} />)}
        </div>
      </div>
    </section>
  </article>
</Page>
