---
import { sanityClient } from "sanity:client";

import { gamesPage, type SanityGameCard, type SanityGamePage } from "@utils/sanity";

import Page from "@layouts/page.astro";
import FeaturedGame from "@components/game/featured.astro";
import GameCard from "@components/game/card.astro";

import divider from "@assets/svg/divider.svg?raw";

const page: SanityGamePage = (await sanityClient.fetch(gamesPage)) || {};
const { featured, all } = page;

const grid = `inner grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-4 md:gap-5 lg:gap-8 xl:gap-10`;
---

<Page title="Games & Projects" header="Games & Projects">
  <article>
    <section class="wrapper">
      <FeaturedGame {...featured.featured.game} client={sanityClient} />
    </section>

    <div class="flex py-8 sm:py-12 lg:py-14 xl:py-24">
      <Fragment set:html={divider} />
    </div>

    <section class="wrapper">
      <div class="inner flex flex-col space-y-5 md:space-y-12 lg:space-y-14 2xl:space-y-16">
        <h2 class="section-title">All Games & Projects</h2>
        <div class={grid}>
          {all.map((game: SanityGameCard) => <GameCard {...game} client={sanityClient} />)}
        </div>
      </div>
    </section>
  </article>
</Page>
