---
import type { Props as $, Block } from "astro-portabletext/types";

export type Props = $<Block>;

const { node } = Astro.props;

const text: unknown = node.children[0]?.text;
---

<p class="font-sans text-green-800 text-sm md:text-base lg:text-lg">
  {text}
</p>
