---
import Page from "@layouts/page.astro";

import Byline from "@components/blog/byline.astro";
import ListItem from "@components/game/list-item.astro";
---

<Page title="micro studio + yummy designs" header="Games & Projects">
  <h1>Goblin Delight</h1>
  <Byline />
  <ListItem text="Lorem ipsum dolor sit amet. Aut culpa asperiores." />
</Page>
