---
import Page from "@layouts/page.astro";

import TextInput from "@components/ui/input/text.astro";
---

<Page title="micro studio + yummy designs" header="Games & Projects">
  <h1>Goblin Delight</h1>
  <TextInput label="Email" placeholder="you@email.com" icon="mail-outline" />
</Page>
