---
import { sanityClient } from "sanity:client";

import Page from "@layouts/page.astro";
import { homePage, type SanityHome } from "@utils/sanity";
import Header from "@components/home/header.astro";

import divider from "@assets/svg/divider.svg?raw";

const getHome = async (): Promise<SanityHome> => {
  return (await sanityClient.fetch(homePage)) || {};
};

const page = await getHome();
const { tagline, intro, featured } = page;
---

<Page title="micro studio + yummy designs">
  <div class="wrapper mb-16">
    <Header title="Goblin Delight" tagline={tagline} intro={intro} />
  </div>
  <div class="flex">
    <Fragment set:html={divider} />
  </div>
</Page>
