---
import { sanityClient } from "sanity:client";

import { blogsPage, type SanityBlogCard, type SanityBlogPage } from "@utils/sanity";

import Page from "@layouts/page.astro";
import FeaturedBlog from "@components/blog/featured.astro";
import BlogCard from "@components/blog/card.astro";

import divider from "@assets/svg/divider.svg?raw";

const page: SanityBlogPage = (await sanityClient.fetch(blogsPage)) || {};
const { featured, all } = page;
const post = featured.featured.post;
---

<Page title="Blog" desc="Blog posts from a solo indie game dev." header="Blog">
  <article>
    <section class="wrapper">
      <FeaturedBlog {...post} client={sanityClient} />
    </section>
    <div class="flex py-8 sm:py-12 lg:py-14 xl:py-24">
      <Fragment set:html={divider} />
    </div>
    <section class="wrapper">
      <div class="inner section__wrapper">
        <h2 class="section__title">All Posts</h2>
        <div class="section__grid">
          {all.map((post: SanityBlogCard) => <BlogCard {...post} client={sanityClient} />)}
        </div>
      </div>
    </section>
  </article>
</Page>
