---
const currentYear = new Date().getFullYear();
---

<footer class="wrapper">
  <div class="inner flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <ul class="flex items-center space-x-4 sm:space-x-5 lg:space-x-6 xl:space-x-8">
      <li>
        <a href="/privacy" class="settings">Privacy Policy</a>
      </li>
      <li>
        <a href="/sitemap" class="settings">Sitemap</a>
      </li>
    </ul>

    <p class="font-bold uppercase text-xl xl:text-2xl">
      &copy; 2020 - {currentYear} Goblin Delight, LLC
    </p>
  </div>
</footer>
