---
import { Astronav, MenuItems, MenuIcon, OpenIcon, CloseIcon } from "astro-navbar";
import { Icon } from "astro-icon/components";

import NavLink from "./nav-link.astro";

import logo from "@assets/svg/logo.svg?raw";
---

<header
  class="font-display bg-green-600 text-green-700 sm:text-green-100 text-6xl sm:text-4xl lg:text-[2.5rem] lg:leading-[2.75rem] xl:text-5xl"
>
  <Astronav closeOnClick>
    <div class="inner flex flex-col sm:flex-row items-center justify-between">
      <div class="flex justify-between items-center w-full sm:w-fit">
        <a href="/" aria-label="Home" class="h-11 sm:h-12 xl:h-[60px]">
          <Fragment set:html={logo} />
        </a>

        <div class="flex items-center justify-center w-11 h-11 sm:hidden">
          <MenuIcon>
            <OpenIcon>
              <Icon name="menu" size={32} />
            </OpenIcon>
            <CloseIcon>
              <Icon name="close" size={32} />
            </CloseIcon>
          </MenuIcon>
        </div>
      </div>
      <MenuItems class="hidden sm:flex">
        <ul
          class="flex flex-col w-full h-full space-y-8 px-[5.3%] py-10 bg-green-300 sm:p-0 sm:space-y-0 sm:bg-transparent sm:flex-row sm:space-x-6 md:space-x-8 xl:space-x-10"
        >
          <NavLink label="Blog" url="/blog" />
          <NavLink label="Games" url="/games" />
          <NavLink label="Contact" url="#contact" />
        </ul>
      </MenuItems>
    </div>
  </Astronav>
</header>
