---
import SocialIcon from "../ui/button/social-icon.astro";

import jer from "@assets/svg/byline.svg?raw";

export const socials = [
  {
    name: `mail`,
    href: `mailto:info@goblindelight.com`,
    label: `Email`,
  },
  {
    name: `youtube`,
    href: `https://youtube.com/@goblindelight`,
    label: `Goblin Delight YouTube`,
  },
  {
    name: `twitch`,
    href: `https://twitch.com/`,
    label: `Goblin Delight Twitch`,
  },
  {
    name: `tiktok`,
    href: `https://tiktok.com/@goblindelight`,
    label: `Goblin Delight TikTok`,
  },
];
---

<div class="byline">
  <div class="byline__author">
    <div class="byline__avatar">
      <Fragment set:html={jer} />
    </div>
    <p>Jeremy Boniface</p>
  </div>
  <div class="byline__icons">
    {
      socials.map((social) => (
        <SocialIcon name={social.name} href={social.href} label={social.label} />
      ))
    }
  </div>
</div>
