@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OpenSansPX';
  src: url('/fonts/pixel.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansPX';
  src: url('/fonts/pixel-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    /* turns off smooth-scrolling behavior (if turned on) when prefers-reduced-motion is active*/
    scroll-behavior: auto;

    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html, body {
  height: 100%;
  background: #FCFCFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  @apply pt-8 pb-16 sm:pt-12 sm:pb-14 md:pt-14 md:pb-20 lg:pt-16 xl:pt-24 xl:pb-32;
}

footer {
  @apply bg-green-600 text-green-100 font-display shrink-0 py-3 sm:py-4;

  a {
    @apply border-[3px] border-transparent hover:bg-green-200 hover:text-green-600 hover:rounded-sm text-xl hover:border-green-100 sm:text-2xl xl:text-3xl;
  }
}

.slide {
  animation-name: slide;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

@keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.hidden {
  display: none;
}

.nav {
  @apply font-display w-full bg-green-600 text-green-100 py-3 sm:py-4;
}

.nav-link {
  @apply text-green-700 sm:text-green-100 hover:text-green-300 hover:bg-green-700  hover:rounded-sm sm:hover:text-green-600 sm:hover:bg-green-200 sm:border-[3px] sm:border-transparent sm:hover:border-green-100;
}

/* Global transition properties */
.settings {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nowrap {
  white-space: nowrap;
}

.pixel-list {
  list-style-image: url('/images/list-bullet-sm.svg');
  padding-inline-start: 4px;

  @media (min-width: 768px) {
    list-style-image: url('/images/list-bullet.svg');
    padding-inline-start: 8px;
  }
}

.wrapper {
  @apply px-[5.3%] sm:px-[5.2%] 2xl:px-0;
}

.inner {
  @apply mx-auto w-full max-w-[86rem];
}

.clamped {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
  -webkit-box-orient: vertical;
}

.section-title {
  @apply w-full font-display text-green-700 text-4xl leading-[2.5rem] lg:text-5xl lg:leading-[100%] xl:text-6xl 2xl:text-7xl;
}

.section-space {
  @apply flex flex-col py-8 sm:py-10 sm:space-y-10 md:py-12 md:space-y-12 lg:space-y-14 lg:py-14 xl:py-20 2xl:py-24;
}

.cta {
  background-image: url('/images/cta/bg.png');
  @apply bg-center bg-cover h-[29.6875rem] flex flex-col justify-between md:h-[28.75rem];
}


/* GAMES */
.game__card-container {
  @apply relative overflow-hidden cursor-pointer h-[12.5rem] sm:h-[15.625rem] xl:h-[19.6875rem] 2xl:h-[21.875rem] rounded border-green-800 border-2 md:border-[3px] bg-center bg-cover;
}

.game__card-inner {
  @apply flex flex-col justify-center items-stretch p-4 xl:p-5;
}

.game__card-title {
  @apply font-display font-bold uppercase text-center text-green-100 text-4xl leading-[100%] sm:text-[2.5rem] lg:text-5xl xl:text-6xl 2xl:text-7xl;
}

.game__feat-container {
  @apply cursor-pointer w-full overflow-hidden relative block h-[17.1875rem] sm:h-[18.75rem] md:h-[20.3125rem] lg:h-[21.875rem] xl:h-[28.125rem] rounded border-green-800 border-2 md:border-[3px] bg-center bg-cover;
}

.game__feat-inner {
  @apply w-full flex flex-col justify-between items-stretch p-4 sm:p-5 md:px-8 xl:px-10 xl:py-8;
}

.game__feat-title {
  @apply font-display font-bold uppercase text-green-200 group-hover:text-green-100 text-2xl leading-[100%] sm:text-4xl md:text-5xl lg:text-6xl xl:text-7xl 2xl:text-8xl;
}

.game__detail-wrapper {
  @apply w-full flex flex-col lg:space-y-1 font-display;
}

.game__detail-title {
  @apply w-full font-bold text-green-600 text-2xl md:text-3xl lg:text-[40px] lg:bg-green-300 lg:py-1 xl:text-5xl;
}

.game__detail-content {
  @apply text-green-800 text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;
}

.game__team-wrapper {
  @apply w-full flex flex-col lg:space-y-1 2xl:space-y-2 font-display;
}

.game__team-title {
  @apply w-full font-bold text-green-600 text-2xl md:text-3xl lg:text-[40px] lg:py-1 xl:text-5xl;
}

.game__team-name {
  @apply text-green-800 text-lg sm:text-xl md:text-2xl lg:text-3xl 2xl:text-4xl;
}
